:root{
--bol: #423e3b;
--blt: #6c6560;
--sgreen: #5a9367;
--sglt: #81b18c;
--rosq: #ad9baa;
--rqlt: #BFB0BC;
--dutch: #eee5bf;
--egg: #F6F2DF;
}

#gcarl{
	display: inline-block;
	margin-top: 2em;
	max-width: 50%;
	border: solid 0.4em var(--blt);
	border-radius: 0.3em;
}

#cmob img{
	margin-top: 2em;
	max-width: 85vw;
	border: solid 0.5em var(--bol);
}

/***********Gmobistyles******************/

#gmobsec img{
	max-width: 85vw;
	display: inline-block;
}

.gcblack{
	border: solid var(--bol) 0.4em;
}

.gcgreen{
	border: solid var(--sgreen) 0.4em;
}

.gcrose{
	border: solid var(--rosq) 0.4em;
}

.gcwrapper{
	margin-top: 2em;
}